<div class="user-card-container">
  <div class="profile-container">
    <img src=<%= user.photo %> alt="user profile" class='user-image'>
  </div>
  <div class="user-card">
    <h2><%= user.name %></h2>
    <p>Number of posts: <%= user.posts_counter %></p>
  </div>
</div>